html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

#grad {
    background: linear-gradient(73.92deg, #0E557A 0%, #2F91BF 100%);
}

.unscrollable::-webkit-scrollbar {
    display: none;
}

*{
    scroll-behavior: smooth;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

.unscrollable {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.navbar a {
    text-decoration: none;
    margin-left: 30px;
    color: black;
    transition: 0.2s;
}

.navbar a:hover {
    color: gray;
    transition: 0.2s;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    background-color: white;
    width: 100vw;
    max-width: 100%;
}

/* FIRST PAGE */

.first-page {
    min-height: 100vh;
    background: linear-gradient(73.92deg, #0E557A 0%, #2F91BF 100%);
}

.landing-title {
    position:absolute;
    margin-right: 50%;
    margin-left: 10%;
    margin-top: 20vh;
    font-size: 36px;
    color:white;
}

.scroll-text {
    position: absolute;
    margin-bottom: 20px;
    width:100%;
    bottom: 0;
}

.scroll-text-link {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}

.scroll-text-button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 26px;
    color:#ffffff;
    font-weight: 500;
}

.saxocoin-big-image {
    width: 500px;
    display: absolute;
    float: right;
    margin-top: 20vh;
    margin-right: 170px;
    animation: rotateAnimation 20s linear infinite;
}

.first-page-table-wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1100px;
}

.first-page-table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
}

.first-page-table-title {
    font-size: 36px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.first-page-row {
  display: table-row;
  background: #f6f6f6;


}

.first-page-row:nth-of-type(even){
    background: white;
}

.first-page-header {
    font-weight: 900;
    color: white;
    background: #2980b9;
}

.first-page-cell {
  padding: 6px 12px;
  display: table-cell;
}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}

/* LOGIN */

.login-form-wrapper {
    padding-top: 130px;
    margin-left: 860px;
}

.login-box {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 20px;
}

.transfer-header{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
}